/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/*-------------------------------------------
* Reset
* Yahoo css reset
--------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/*-------------------------------------------------------------------
* Basic Elements
* Define styles for basic elements: body, h1-h6, ul, ol, a, p, etc.
--------------------------------------------------------------------*/
body{
    font-family: Arial,sans-serif;
}
.clear{
    clear:both;
    line-height:0;
    border-top:0;
}

#main{
    background-color: white;
    text-align: left;
    margin:30px 0;
}
#main #column{
	overflow:hidden;
}

#main #column #leftColumn{
	width:200px;
	float:left;
}
#main #column #rightColumn{
	float:left;
	margin-right:-200px;
	width:100%;
}
	#rightColumn #rightColumnInner{
		margin-right:200px;
	}

#pageName {
    margin-bottom: 10px;
    text-align: left;
}

#pageName h1{
	font-size: 28px;
	font-weight: 700;	
}

#footer{
	border: 1px solid #EBEBEB;
	padding:10px 0;
	position:relative;
}
#footer #shortcut{
	width:200px;
	margin:0 auto;
}
#footer a{
	color:#333;
	font-size: 12px;
	margin-right:20px;
	text-decoration:none;
}
#footer a:hover{
	color:#000;
}


table td{
	padding:5px;
}

table.borderTable{
	border-left:1px solid #BBB;
}

table.borderTable td{
	border:1px solid #BBB;
	border-left: none;
	width: 100px;
}

.upRed{
	color:red
}
.downGreen{
	color:green
}
/*
 * Left Navigation
 */
#leftNav{
		margin-top:10px;
}
#leftNav ul{
	margin-top:0;
	margin-bottom:20px
}
#leftNav ul li {
    font-size: 13px;
    line-height: 22px;
}
	#leftColumn ul li a{
		color: #000;
		padding-left: 44px;
		text-decoration: none;
	}
		#leftNav ul li a:hover{
			background:none repeat scroll 0 0 #F1EEE6;
		}
	#leftNav ul li.current a{
		color: #D14836;		
		border-left: 5px solid #DD4B39;
		padding-left: 39px;3
	}

	#leftNav ul li.title {
	    color: #D14836;
	    font-weight: bold;
	    padding-left:44px;
	    font-size: 14px;
	}
