<div id='leftNav'>
	<ul>
		<li class='title'>Bonds</li>
		<li <%if @v[:left_nav_section] == 'bond_all'%>class='current'<%end%>><a href='/bond'>All</a></li>
		<li <%if @v[:left_nav_section] == 'bond_national'%>class='current'<%end%>><a href='/bond/national'>National</a></li>
		<li <%if @v[:left_nav_section] == 'bond_corporate'%>class='current'<%end%>><a href='/bond/corporate'>Corporate</a></li>
		<li <%if @v[:left_nav_section] == 'bond_convertible'%>class='current'<%end%>><a href='/bond/convertible'>Convertible</a></li>
	</ul>
</div>
